/* Gets rid of the empty space on the sides */
body{
    margin: 0%;
}

/* Centers nav bar don't want other containers centered right now */
.nav-container {
    text-align: center;
    background-color: rgba(10, 10, 10, 0.9);
}

/* Nav bar  */
.Nav{
    display: inline;
    color: grey;
    padding: 0%;
    margin: 0;
}

/* makes the nav buttons look nice */
.Nav li {
    display: inline-block;
    position: relative;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px 1%;
    text-align: center;
    margin: 2px;
}

/* makes the buttons darker grey when hovered */
.Nav li:hover{
    background-color: gray;
}

/* Makes the left column */
.column-l{
    float: left;
    width: 50%;
    padding: 4px;
    height: 400px;
    background-color: gray;
}

/* Makes the right column */
.column-r{
    float: right;
    width: 49%;
    padding: 4px;
    height: 400px;
    background-color: lightgray;
}

/* Edits the video to center it */
video{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Changes all the headings to center */
h1 {
    text-align: center;
}

/* Edits paragraph to center enlarges and spaces between letters */
p{
    text-align: center;
    font-size: larger;
    letter-spacing: 1.5px;
}

/* Makes space */
.row::after{
    content: "";
    display: table;
    clear: both;
}

/* style for the about section */
.about-section{
    background-color: rgba(300,300,300,1);
    border: 5px solid black;
    border-radius: 10px;
    height: 500px;
}

/* style for the forms */
input[type=text]{
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
}

/* Adds hover effect for forms */
input[type=text]:hover{
    background-color: lightgray;
    box-shadow: darkgray;
}

/* style for button */
input[type=submit]{
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    color: black;
}

/* adds hover effect for button */
input[type=submit]:hover{
    background-color: lightgrey;
}

/* adds background/border for visibilty on the label for forms */
label{
    padding: 5px;
    margin: 2px;
    background-color: white;
    border: 1px solid black;
}


/* ------------------------------------------ light box test -------------------------------------------------------- */
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}